<h1> Punch in or Punch out </h1>

<%= render 'form' %>

<%= link_to 'Back', punchin_index_path %>

<% @punchin_list.each do |punchin| %>
	<tr>
		<td><%= punchin.working %></td>
	</tr>
<% end %>

<%= @asdf %>